{% extends 'base.html' %}

<!-- introduction of me -->
{% block body %}
<div class="inner-text">
  <h1 class="lead-heading">Welcome to my Webpage</h1>
  <p class="lead">
    Web development is fun and I encourage people to learn it, new technology is
    always been introduced and its excites me to learn new trends every time.
  </p>
  <button class="btn">
    <a class="git-link" href="https://github.com/iddyboi">Check Github</a>
  </button>
</div>
{% endblock %}
<!-- end of intro section -->

<!-- section 2 about me  -->

{% block secondSection %}

<section class="about-me">
  <div class="left-section">
    <h2 class="sub-headings">Tech Stack</h2>
    <div class="mb-3">
      <h3 class="about-h3">Front-End Developer</h3>
      <h6>HTML5</h6>
      <h6>CSS</h6>
      <h6>REACT</h6>
      <h6>JAVASCRIPT ES6 +</h6>
    </div>
    <!-- back end -->

    <h3 class="about-h3">Back-End Developer</h3>
    <h6>NODEJS (EXPRESS.JS)</h6>
    <h6>SQL(MONGO DB)</h6>
    <h6>EXPRESS</h6>
    <h6>PYTHON (DJANGO FRAMEWORK)</h6>
  </div>

  <!-- education -->
  <div class="right-section">
    <h2 class="sub-headings">Education</h2>
    <div class="mb-3">
      <h3 class="about-h3">Londoon South Bank University</h3>
      <h4>Computer Science</h4>
      <h6>SOFTWARE ENGINEERING</h6>
      <h6>DATABSE(SQL)</h6>
      <h6>OOP</h6>
      <h6>STRUCTURES & ALGORITHMS</h6>
      <h6>DATA MINING</h6>
      <h6>PRINCIPLES OF DATA NETWORKS</h6>
      <h6>ARTIFICAL INTELLIGENCE</h6>
    </div>
  </div>
</section>

{% endblock%}

<script src="/src/js/index.js"></script>
